*{
    margin: auto;
}

header{
    background-color: #FFD4CF;
    display: flex;
    max-height: 900px;
}
.introduction{
    margin: 125px 0 150px 150px;
}
.first_header{
    font-size: 50px;
    font-weight: 800;
}
#first_para{
    margin: 30px 0;
    padding-right: 180px;
}
.paragraph{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.primary_button{
    color: #FFFFFF;
    background-color:#E55473;
    padding: 12px 24px 12px 24px;
    border-radius: 10px;
 
}

.default_margin{
    margin-left: 150px;
    margin-right: 150px;
}

.featured_flower{
    margin-top: 150px;
}


.image{
    display: flex;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -350px;
}

#img1{
    position: absolute;
    margin-left: 35px;
}
#img2{
    position: absolute;
    margin-left: 360px;
}
#img3{
    margin-right: 20px;
}

.border{
    width: 1000px;
    height: 500px;
}

.default_border{
    width: 222px;
    height: 300px;
    float: left;
    padding: 40px;
    margin: 10px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}

#b1{
    background-color: rgba(167, 33, 98, 0.15);
}
#b2{
    background-color: rgba(5, 151, 160, 0.15);
}
#b3{
    background-color:rgba(71, 125, 17, 0.15);
}

.flower_title{
    display: flex;
    text-decoration: underline;
    margin-top: -90px;
}

.all_title{
    text-align: center;
    max-width: 400px;
}

.delivery_support{
    padding: 20px 40px 20px 40px;
    margin-top: 80px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    border-radius: 5px;

}

.image_msg{
    display: flex;
    margin-bottom: 100px;
}

.deal_section{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px 70px;
    display: flex;
    background-color: rgba(229, 84, 115, .1);
    max-height: 60vh;
}

.deal{
    max-width: 450px;
    text-align: center;
}

.rev_color{
    color: #E55473;
}

.gappie{
    margin-right: 12px;
    margin-bottom: 100px;
}

.gappie2{
    margin-bottom: 100px
}

.subscribe_my_channel{
    padding: 80px 0;
    max-height: 300px;
    background-image: url("../Flower Asset/Rectangle 9.png");
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    text-align: center;
}

.email{
    width: 400px;
    height: 48px;
    border-radius: 8px;
    font-size: large;
}

footer{
    background-color: black;
    max-height: 30vh;
    padding: 100px;
    text-align: center;
    color: #FFFFFF;
}

#fnt_change{
    color: rgba(255, 255, 255, 0.7);
    max-width: 450px;
    margin-bottom: 20px;
}

#fnt_change2{
    color: rgba(255, 255, 255, 0.40);
    font-size: 11px;
}

#new_page{
    cursor: pointer;
}